<!DOCTYPE html>
<html ng-app='myApp'>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="css/mainstyle.css">
    <script src='javascript/controller.js'></script>


    <title>Web Application</title>
    
</head>
<body>

    <h1 class='w3-jumbo w3-text-grey w3-center'>My First Web Application!</h1>
    <p id='pid'>hello there</p>
    <div class='w3-container w3-grey w3-padding12 w3-text-white w3-medium'>
        <h3 class='w3-heading3'>Welcome to my first MEAN Web Application.</h3> 
        <p>The following application allows you to push and remove items from a list, 
        by simply adding and removing them from using the input fields and buttons.</p>
        <p>Give it a go!</p>   
    </div>
    
    
     <div class="w3-row w3-dark-grey" ng-controller='listCtrl'>
     
        <div class="w3-col l4 m12 s12 w3-center" id='AddDiv'>   <!--Add Items Column !-->
            <div class='Editor'>
                <input ng-model='addItem' placeholder = 'Enter An Item To Add...'>  
                <button type='button' ng-click='addFunction()'>Add</button>
            </div>
        </div>
        
        
        <div class="w3-col s12 m12 l4 w3-red w3-center", id='ListDiv'><!-- List To Be Shown !-->
            <ul>
                <li ng-click='updateInput()' ng-repeat='character in characters'>
                    {{ character }}
                </li>
            </ul>
        </div>
        
        <div class="w3-col l4 m12 s12 w3-center" id='RemoveDiv'> <!-- Remove Items Column !-->
            <div class='Editor'>
                <input ng-model='removeItem' placeholder = 'Enter An Item To Remove...'>
                <button type='button' ng-click='removeFunction()'>Remove</button>
            </div>
        </div>
        
    </div>
</body>
</html>