    ul {
        margin: 0;
        padding: 0;
    }
    
    
    li {
        text-align: center;
        list-style: none;
        font-size: 30px;
        padding: 15px;
    }
    
    li:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
    
    .Editor {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    input {
        width: 60%;
        text-align: center;
        font-size: 20px;
        height: 35px;
        margin-bottom: 10px;
    }

    button {
        width: 60%;
        font-size: 20px;
        border: none;
        padding: 5px;
        background: none;
        background-color: white;

    }